.news {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &__title {
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    color: var(--black-grey);
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px;

    &-item {
      display: grid;

      &:nth-child(1) {
        grid-column: 1 span;
        & .news__list-item-content-pretitle {
          max-width: 100%;
        }
      }
      &:nth-child(2) {
        grid-column: 1 span;
        & .news__list-item-content-pretitle {
          max-width: 100%;
        }
      }

      &-content {
        position: relative;
        text-align: start;
        padding: 25px 25px 50px 75px;
        background-color: var(--grey);
        border-radius: 10px;
        // max-height: 270px;

        &-text-wrapper {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 6;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &::after {
          content: url(../img/news_icon.svg);
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-30px, 20px);
        }
        &-pretitle {
          font-family: "Open Sans";
          font-size: 24px;
          font-style: italic;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: 0.72px;
          margin-bottom: 11px;
        }
        &-descr {
          font-family: "Ubuntu";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.2;
          color: var(--black);
        }
        &-descr:not(:last-of-type) {
          margin-bottom: 20px;
        }

        &-date {
            position: absolute;
            bottom: 0;
            right: 0;
            font-family: "Ubuntu";
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.5; 
            color: var(--black);
            transform: translate(-50px, -15px);
        }
      }
    }
  }
}
