.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: inherit;

  &__search {
    width: 100%;
    display: flex;
    height: 80px;
    background-color: chocolate;
    transform: translateY(-300%);
    z-index: -100;
    position: fixed;
    transition: transform .4s ease;
    


    &.fixed {
      transform: translateY(0);
      z-index: 5;
      transition: transform .4s ease;
    }

    &-form  {
      width: 100%;
      display: flex;
      gap: 16px;
      align-items: center;

      &-label {
        width: 80%;
        display: flex;
      }

      &-input {
        width: 100%;
        height: 45px;
        padding: 0 10px;
      }
    }

  }


  .search-item {
    display: none;
  }

  &.fixed {
    position: fixed;
    width: calc(100% - 17px);
    top: 0;
    left: 0;
    background-color: inherit;
    animation: header-translate 0.5s ease-in-out;
    @include _no-hover {
      width: 100%;
    }

    & .search-item {
      display: block;
    }
  }

  @keyframes header-translate {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  // Выше зона экспериментов!!!
  &-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    background-color: inherit;
    font-family: "Ubuntu", sans-serif;

    @include _1280 {
      gap: 16px;
    }
  }

  &__logo {
    width: 220px;
    height: 35px;
  }
  &__nav {
    padding-right: 10px;
  }
  &__nav-list {
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    @include _1280 {
      gap: 16px;
    }

    &-item {
      @include _1280 {
        &:first-child {
          display: none;
        }
      }
    }
  }
  &__nav-link {
    text-transform: uppercase;
    color: var(--semi-black);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
  

  &__registration-link {
    color: var(--black);
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  &__login-block {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 32px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0px;
      width: 1px;
      height: 85px;
      background-color: var(--grey2);
      opacity: 0.8;
    }
  }
}
