.hero {
  padding-top: 195px;
  padding-bottom: 110px;
  background-image: url(../img/truck_test.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 90%;
  min-height: 745px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 55%;
    @include _1280 {
      max-width: 47%;
    }
    
    &-contacts {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__pretitle {
    display: inline-block;
    color: var(--black);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &__title {
    color: var(--black);
    font-family: "Russo One", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin-bottom: 12px;

    &-fragment {
      display: inline-block;
      width: 100%;
    }
    &-fragment:nth-child(odd) {
      text-align: start;
    }
    &-fragment:nth-child(even) {
      text-align: end;
    }
  }

  &__descr {
    color: var(--black);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  &__tel {
    color: var(--black);
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.2;
  }
}
