.details-filter {
  padding: 64px 0;

  &__wrapper {
    max-width: 1312px;
  }

  &__top {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;

    @include _550 {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;

      @include _550 {
        display: none;

        &::before {
          display: none;
        }

        &:focus-within,
        &:active {
          background-color: transparent;
        }
      }

      svg:nth-child(1) {
        display: block;
        rotate: -90deg;

        @include _550 {
          display: none;
        }
      }
      svg:nth-child(2) {
        display: none;
        fill: var(--red);

        @include _550 {
          display: block;
        }
      }

      svg:nth-child(3) {
        display: none;
      }

      &.modal__btn.active {
        max-width: 50px;
        transform: translateX(calc(100% + 25px));

        @include _640 {
          transform: translateX(100%);
        }

        svg:nth-child(1) {
          display: none;
        }

        svg:nth-child(2) {
          display: none;
        }

        svg:nth-child(3) {
          display: block;
          fill: var(--white);
        }
      }
    }

    &-mobile-open-list-btn {
      display: none;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      @include _550 {
        display: flex;
      }

      &::before {
        display: none;
      }
      svg {
        fill: var(--red);
        transform: rotate(90deg);
      }

      &:focus-within {
        background-color: transparent;

        & svg {
          fill: var(--dark-red);
        }
      }
      &:hover {
        background-color: transparent;
      }
      &:active {
        background-color: transparent;
      }
    }
    // Заголовок модалки
    &-modal-title {
      display: none;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.6px;
      color: var(--black);
      text-align: center;

      &.active {
        display: inline-block;
        align-self: center;
      }
    }
    // Блок модального окна основной
    &.modal-content.active {
      padding: 24px 62px 24px 62px;
      position: fixed;
      display: grid;
      // justify-content: center;
      // grid-template-columns: 1fr 50px;
      // align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--white);
    }
  }

  &__top-form {
    display: flex;
    align-items: center;
    gap: 16px;
    // overflow: auto;

    @include _550 {
      flex-direction: column;
    }
    // Кнопка применить для формы

    &-accept-btn {
      display: none;

      &.active {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    // Форма модального окна
    &.modal-content.active {
      grid-row-start: 2;
      grid-column: 2 span;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 70px;
      padding-top: 20px;
    }
  }

  &__top-label {
    width: 230px;
    height: 60px;
    margin-bottom: 0;

    @include _550 {
      &:nth-child(n + 3) {
        display: none;
      }

      &.visible {
        display: block;
      }
    }
    &-content {
      width: 100%;
      height: 100%;
      padding: 8px 16px;
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 24px;
      align-items: center;
      text-align: center;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      color: var(--black-grey);
      background-color: var(--grey);
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      @include _880 {
        font-size: 18px;
      }

      & .checkbox-close svg {
        opacity: 0;
        fill: transparent;
        transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
      }

      & svg {
        fill: var(--dark-grey);
        transition: fill 0.3s ease-in-out;
      }
    }

    & > input:checked + &-content {
      background-color: var(--black-grey);

      & span {
        color: var(--white);
      }

      & svg {
        fill: var(--white);
      }

      & .checkbox-close svg {
        opacity: 1;
        fill: var(--white);
        transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
      }
    }
  }

  &__top-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 35px;

    @include _550 {
      flex-direction: column;
      padding-right: 0;
    }

    &-checkbox {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }
    &-form {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
    &-label {
      &:nth-child(n + 6) {
        display: none;
      }

      &.visible {
        display: block;
      }

      &-content {
        padding: 8px 14px;
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: center;
        cursor: pointer;

        & .checkbox-close svg {
          opacity: 0;
          fill: transparent;
          transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
        }

        span {
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          color: var(--black);
          text-wrap: nowrap;
          transition: color 0.3s ease-in-out;

          @include _880 {
            font-size: 14px;
          }
        }
      }

      & > input:checked + &-content {
        span {
          color: var(--dark-red);
          transition: color 0.3s ease-in-out;
        }

        & .checkbox-close svg {
          opacity: 1;
          fill: var(--dark-red);
          transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
        }
      }
    }

    &-btn {
      background-color: var(--super-silver);
      padding: 16px;
      display: flex;
      align-items: center;

      @include _550 {
        transform: rotate(90deg);
        background-color: transparent;

        &:focus {
          background-color: transparent;
        }

        &::before {
          display: none;
        }
      }

      svg {
        fill: var(--black-grey);
        transition: fill 0.3s ease-in-out;

        @include _550 {
          fill: var(--red);
        }
      }

      &:focus-within svg {
        fill: var(--white);

        @include _550 {
          fill: var(--dark-red);
        }
      }

      @include _only-hover {
        &:hover svg {
          fill: var(--white);
        }
      }
    }
  }
}

.checkbox-close {
  display: flex;
  align-items: center;
}
