.footer {
  padding: 64px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  flex: 0 0 auto;
  background-color: var(--grey);

  @include _550 {
    padding: 32px 0;
  }

  &-copyright {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--black);
  }

  &__logo {
    width: 220px;
    height: 35px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 45px;

    @include _1280 {
      flex-direction: column;
    }

    &-left {
      display: flex;
      flex-direction: column;
      max-width: 375px;

      @include _1280 {
        max-width: 100%;
        flex-direction: row;
        gap: 30px;
      }

      @include _550 {
        flex-direction: column;
        gap: 25px;
      }

      &-descr {
        color: var(--black);
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
      }
      &-logo-link {
        margin-bottom: 40px;

        @include _550 {
          margin-bottom: 0;
        }
      }
    }

    &-right {
      display: flex;
      gap: 30px;
      width: 100%;
      justify-content: space-between;
      max-width: 35%;
      @include _1280 {
        max-width: 100%;
      }

      @include _550 {
        flex-direction: column;
      }

      &-list-title {
        color: var(--black);
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.72px;
        text-transform: uppercase;
      }
      &-link {
        color: var(--black-grey);
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.6px;

        @include _880 {
          font-size: 18px;
          letter-spacing: normal;
        }
      }
      &-company-list {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
      }
      &-document-list {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px 0;

        @include _1280 {
          max-width: 47%;
        }
      }
    }
  }
}

// Стили для модалок

.service-modal {
  max-width: 600px;
  padding: 40px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__close {
    position: relative;
    width: 30px;
    height: 30px;
    top: unset;
    right: unset;
    background-image: none;
    transition: background-color 0.3s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }

    // &:hover {
    //   background-color: var(--dark-red);
    // }
    // &:active {
    //   background-color: var(--cherrywood);
    // }
  }
  &__title {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.72px;
    color: var(--black);

    @include _880 {
      font-size: 20px;
      letter-spacing: 0.6px;
    }

    @include _550 {
      font-size: 18px;
      letter-spacing: 0.54px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    &-btn {
      max-width: fit-content;
    }

    &-input {
      background-color: var(--white);
      color: var(--black);
      padding: 12px 20px;
      width: 100%;
      border: 1px solid var(--dark-grey);
      border-radius: 5px;
      outline: none;
      transition: border 0.4s ease;

      &:focus {
        border: 1px solid var(--black);
      }

      &:hover {
        border: 1px solid var(--black);
      }

      &::placeholder {
        color: var(--dark-grey);
      }
    }
  }
  &__textarea {
    min-height: 150px;
    resize: none;
    background-color: var(--white);
    color: var(--black);
    padding: 12px 20px;
    width: 100%;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    outline: none;
    transition: border 0.4s ease;

    &:focus {
      border: 1px solid var(--black);
    }

    &:hover {
      border: 1px solid var(--black);
    }

    &::placeholder {
      color: var(--dark-grey);
    }
  }
}

.login-modal {
  max-width: 600px;
  padding: 55px 55px 20px 55px;

  &__close {
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    padding: 5px;
    background-image: none;
    transition: background-color 0.3s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--black);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--black);
      transform: rotate(-45deg);
    }

    // &:hover {
    //   background-color: var(--dark-red);
    // }
    // &:active {
    //   background-color: var(--cherrywood);
    // }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-btn {
      max-width: fit-content;
    }

    &-input {
      background-color: var(--white);
      color: var(--black);
      padding: 12px 20px;
      width: 100%;
      border: 1px solid var(--dark-grey);
      border-radius: 5px;
      outline: none;
      transition: border 0.4s ease;

      &:focus {
        border: 1px solid var(--black);
      }

      &:hover {
        border: 1px solid var(--black);
      }

      &::placeholder {
        color: var(--dark-grey);
      }
    }

    &-link {
      max-width: fit-content;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      color: var(--black);
      transition: color 0.3s ease-in-out;

      &:focus {
        color: var(--dark-red);
      }

      @include _only-hover {
        &:hover {
          color: var(--red);
        }
      }

      &:active {
        color: var(--cherrywood);
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
  }
}
