.discount {
  background: var(--grey-gradient);
  padding: 64px 0;

  @include _550 {
    padding: 32px 0;
  }

  &__slide-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include _880 {
      flex-direction: column;
    }

    img {
    border-radius: 0 20px 20px 20px;

    }

    &-right {
      max-width: 45%;

      @include _1280 {
      max-width: 50%;
    }

       @include _880 {
        max-width: 100%;
        text-align: center;
      }

      h3 {
        font-family: "Russo One", sans-serif;
        font-size: 45px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.48px;
        text-transform: uppercase;
        color: var(--black);
        margin-bottom: 20px;
        word-wrap: break-word;
    
        @include _880 {
          font-size: 36px;
          line-height: 1.2;
          letter-spacing: 0.36px;
        }
    
        @include _550 {
          margin-bottom: 28px;
          font-size: 26px;
          line-height: 1.2;
          letter-spacing: 0.2px;
          text-align: start;
        }
      }

      p {
        color: var(--black);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: start;

    @include _880 {
      font-size: 14px;
    }
      }
    }

    
  }


  &__swiper-utility {
    position: relative;
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 15%;

    @include _880 {
      flex-direction: column-reverse;
      gap: 30px;
    }
    @include _550 {
      gap: 20px;
    }

    &-nav {
      position: relative;
      right: 0;
      height: 60px;
      width: 260px;
      overflow: hidden;

      @include _550 {
        width: 100%;
        height: 40px;
      }
    }
  }

  &__swiper-wrapper {
    margin-bottom: 30px;
  }

  // Миниатюры под свайпером

  &__swiper-thumbs {
    height: 55px;
    width: 545px;
    margin-right: 0;
    margin-left: 0;
    background-size: cover;

    @include _1280 {
      width: 420px;
    }

    @include _880 {
      width: 100%;
    }

    &-slide {
      opacity: 0.4;
      // scale: 1;
      border-radius: 0 20px 20px 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.3s ease, scale 0.3s ease;

      &:focus {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }

      &.swiper-slide-thumb-active {
        opacity: 1;
        transition: opacity 0.3s ease, scale 0.3s ease;
      }
    }
  }

  // &__slide-content-descr {
  //   color: var(--black);
  //   font-family: "Ubuntu", sans-serif;
  //   font-size: 16px;
  //   font-weight: 400;
  //   line-height: 1.2;
  //   text-align: start;

  //   @include _880 {
  //     font-size: 14px;
  //   }
  // }

}
