.discount {
  background: var(--grey-gradient);
  padding: 64px 0;

  &__slide-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &-right {
      max-width: 45%;
      @include _1280 {
      max-width: 50%;

    }
    }

    
  }

  &__slide-img {
    max-width: 546px;
    max-height: 300px;
    border-radius: 0 20px 20px 20px;

    @include _1280 {
      max-width: 420px;
    }
  }

  &__swiper-utility {
    width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 15%;

    &-nav {
      position: relative;
      right: 0;
      height: 60px;
      width: 260px;
    }
  }

  &__swiper-wrapper {
    margin-bottom: 20px;
  }

  // Миниатюры под свайпером

  &__swiper-thumbs {
    height: 55px;
    width: 545px;
    margin-right: 0;
    margin-left: 0;

    @include _1280 {
      width: 420px;
    }

    &-slide {
      opacity: 0.4;
      scale: 1;
      border-radius: 0 20px 20px 20px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.3s ease, scale 0.3s ease;

      &.swiper-slide-thumb-active {
        opacity: 1;
        scale: 1.2;
        transition: opacity 0.3s ease, scale 0.3s ease;
      }
    }
  }
  &__slider-btn--prev,
  &__slider-btn--next {
    z-index: 15;

    @include _1280 {
      display: none;
    }
  }
  &__slider-btn--prev::after,
  &__slider-btn--next::after {
    content: none;
  }
  &__slider-btn--next {
    transform: rotate(180deg);
  }

  &__slide-content-title {
    font-family: "Russo One", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 20px;
    word-wrap: break-word;
  }
  &__slide-content-descr {
    color: var(--black);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
}
