.find {
  padding-top: 36px;

  @include _880 {
    padding-top: 20px;
  }

  &__header-title {
    color: var(--black-grey);
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;

    @include _880 {
      font-size: 32px;
    }

    @include _550 {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  &__header-descr {
    text-align: center;
    color: var(--black);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 45px;

    @include _880 {
      font-size: 14px;
    }

    @include _550 {
      margin-bottom: 20px;
    }
  }

  &__map-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__map-container {
    height: 720px;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

    @include _1280 {
      height: 570px;
    }

    @include _1024 {
      height: 495px;
      // max-width: 880px;
      background-position: 100%;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    max-width: 354px;
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    left: 17%;
    top: 15%;

    @include _1280 {
      padding: 32px;
      left: 17%;
      top: 8%;
    }

    @include _1024 {
      max-width: 270px;
      left: 50%;
      top: 4%;
      transform: translateX(-50%);
    }

    @include _550 {
      max-width: 100%;
      width: 100%;
      transform: none;
      position: static;
    }

    &-phone {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      &-number {
        color: var(--black-grey);
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.72px;

        @include _880 {
          font-size: 20px;
          letter-spacing: 0.6px;
        }
      }
    }

    &-address {
      color: var(--black-grey);
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 20px;

      @include _880 {
        font-size: 14px;
      }
    }
    &-email {
      color: var(--black-grey);
      font-family: "Ubuntu";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;

      @include _880 {
        font-size: 14px;
      }
    }
  }
}

// Убрать контролы из нижней части карты
[class*="copyrights-pane"] {
  display: none !important;
}

//   Серый фильтр для карты
[class*="ground-pane"] {
  filter: grayscale(1);
}
