.popular {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;

  &__title {
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1,2;
  }

  &__content {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  &__nav {
    display: flex;
    padding: 32px 32px 8px 0;
    border-bottom: 2px solid var(--iron);
    margin-bottom: 32px;

    &-btn {
      padding: 0 32px;
      position: relative;
      color: var(--black);
      font-family: "Open Sans";
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
      opacity: 0.6;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        background-color: var(--red);
        height: 4px;
        left: 0;
        bottom: -7px;
        transition: width 0.5s ease;
      }

      &.tab-active {
        font-family: "Open Sans";
        font-size: 24px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.2;
        opacity: 1;
        transition: width 0.5s ease;

        &::before {
          width: 100%;
        }
      }
    }
  }

  &__list {
    display: none;
    gap: 23px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;

        &.tab-active {
        display: grid;
        }

    &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      grid-column: 1 span;
      border-radius: 10px;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
      background-repeat: no-repeat;
      background-position: center;
      // padding: 24px 17px 24px 24px;
      padding: 32px;
      background-position: 53% 19%;

      &:nth-child(1) {
        background-image: url(../img/default_engine.svg);
      }
      &:nth-child(2) {
        background-image: url(../img/default_gears.svg);
      }
      &:nth-child(3) {
        background-image: url(../img/default_absorber.svg);
      }
      &:nth-child(4) {
        background-image: url(../img/default_wheel.svg);
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        // padding: 10px 10px 16px 0;
        padding-bottom: 16px;
        min-height: 250px;
        


        &-img {
         margin-bottom: 16px;   
        }
      }

      &-order {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
      }

      &-price {
        color: var(--black);
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }

  &__product-name {
    color: var(--black);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
  }

  &__bottom-content {
      display: flex;
    flex-direction: column;
    align-items: center;
      gap: 15px;
      padding-bottom: 60px;

      &-btn {
        position: relative;
        font-family: "Ubuntu";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        color: var(--black);
        max-width: fit-content;

        &:focus {
            text-transform: uppercase;
            color: var(--semi-black);
            text-align: center;
            font-family: "Open Sans";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.6;
        }

        &::before {
             content: "";
            position: absolute;
            width: 0;
            background-color: var(--red);
            height: 4px;
            left: 0;
            bottom: -10px;
            transition: width 0.5s ease;
        }
        &:focus::before {
           width: 100%;
        }
      }
  }
}
