.product-basket {
  max-height: 248px;
  position: fixed;
  right: 0;
  top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  z-index: 2;
  padding-left: 48px;
  transform: translateX(calc(100% - 48px));
  transition: transform 0.6s ease, background-color 0.4s ease,
    max-width 0.4s ease;

  &__title {
    padding: 16px;
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }

  @include _no-hover {
    right: 0;
  }

  @include _550 {
    display: flex;
    max-width: 100%;
    min-height: 248px;
    max-height: fit-content;
    width: 100%;
    top: 50px;
    right: 0;
    padding-left: 0;
    padding-top: 48px;
    transform: translateY(-500%);
    background-color: var(--grey);
  }

  &.active {
    min-height: 248px;
    max-width: 620px;
    max-height: fit-content;
    transform: translateX(0);
    background-color: var(--grey);
    // transition: transform 0.4s ease, background-color 0.4s ease,
    // max-width 0.4s ease;

    @include _550 {
      transform: translateY(0);
    }
  }

  &__btn {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 16px;

    @include _550 {
      width: 100%;
    }

    &-text {
      display: flex;
      gap: 8px;
      writing-mode: vertical-lr; /* вертикально сверху вниз */
      rotate: 180deg;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;

      @include _550 {
        rotate: none;
        writing-mode: unset;
      }
    }

    &-basket {
      fill: var(--white);

      @include _550 {
        rotate: 90deg;
      }
    }

    &-arrow {
      display: block;
      fill: var(--white);
      transition: rotate 0.4s ease;

      @include _550 {
        display: none;
      }
    }

    &-close {
      fill: var(--white);
      display: none;

      @include _550 {
        display: block;
      }
    }

    &.active {
      background-color: var(--black-grey);
      height: 100%;

      @include _550 {
        height: fit-content;
        width: 100%;
        flex-direction: row;
      }

      .product-basket__btn-arrow {
        rotate: -180deg;
      }
    }
  }

  &__product-count-block {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 0;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    visibility: hidden;
    // transition: visibility .3s ease;

    @include _550 {
      padding: 16px;
      visibility: visible;
    }

    &.active {
      visibility: visible;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow: auto;
    max-height: calc(100vh - 500px);

    @include _550 {
      gap: 10px;
      max-height: calc(100vh - 310px);
    }

    &-item {
      position: relative;
    }
  }

  &__list-title {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
    padding: 8px 16px;

    @include _640 {
      gap: 8px;
    }

    @include _550 {
      display: none;
    }

    &-item {
      color: var(--black);
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;

      &:nth-child(1) {
        grid-column: 1 span;
      }

      &:nth-child(2) {
        grid-column: 5 span;

        @include _640 {
          grid-column: 4 span;
        }
      }
      &:nth-child(3) {
        grid-column: 2 span;

        @include _640 {
          text-align: center;
        }
      }

      &:nth-child(4) {
        grid-column: 2 span;

        @include _640 {
          grid-column: 3 span;
          text-align: center;
        }
      }
    }
  }

  &__list-item {
    &::after {
      content: "";
      position: absolute;
      left: 52%;
      background-color: var(--dark-grey);
      width: calc(100% - 117px);
      height: 1px;
      translate: -50% 0;

      @include _550 {
        display: none;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 16px;
      padding: 8px 16px;

      @include _550 {
        grid-template-columns: max-content;
        gap: 16px 20px;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-child(1) {
          grid-column: 1 span;

          @include _550 {
            grid-row-start: 1;
          }
        }

        &:nth-child(2) {
          grid-column: 5 span;

          @include _640 {
            grid-column: 4 span;
          }

          @include _550 {
            grid-row-start: 1;
            grid-column: 1 span;
          }
        }
        &:nth-child(3) {
          grid-column: 2 span;

          @include _550 {
            grid-row-start: 2;
            grid-column: 1 span;
            padding: 0 5px;
            border-bottom: 4px solid var(--red);
          }

          span {
            color: var(--black);
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
          }
        }

        &:nth-child(4) {
          grid-column: 2 span;

          @include _640 {
            grid-column: 3 span;
            justify-content: center;
            gap: 8px;
          }

          @include _550 {
            grid-column: 1 span;
            grid-row-start: 2;
            justify-content: space-between;
          }
        }
        span {
          color: var(--black);
          font-family: "Ubuntu", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
        }
      }
    }
  }

  &__total-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 65px;
    padding-right: 40px;
  }

  &__total-list {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    li {
      color: var(--black);
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.6px;

      @include _550 {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.48px;
      }
    }
  }

  &__total-buy-block {
    display: flex;
    justify-content: flex-end;

    @include _550 {
      justify-content: center;
    }
  }

  &__list-item-btn {
    display: flex;
  }

  &__empty {
    display: none;
  }

  &.empty {
    .product-basket__total-content {
      display: none;
    }

    .product-basket__empty {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 30px;

      p {
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--black);
      }
    }

    .product-basket__btn {
      filter: grayscale(1);
      cursor: not-allowed;
      background-color: var(--dark-grey);

      &::before {
        display: none;
      }
    }

    .product-basket__title {
      display: none;
    }

    .list-item-title {
      filter: grayscale(1);
      opacity: 0.6;
    }
  }
}
