// Цвета
:root {
  --black: #1a202c;
  --black-grey: #383838;
  --white: #fff;
  --grey: #f5f5f5;
  --red: #e31e24;
  --dark-red: #9e2021;
  --cherrywood:#651515;
  --red-brown: #A62B2F;
  --semi-black: #303030;
  --silver: #c9c9c9;
  --alabaster: #fafbfd;
  --super-silver: #eeeeee;
  --gainsboro: #DCDCDC;
  --iron: #DDE0E4;
  --grey2: #D9D9D9;
  --dark-grey: #9B9B9B;
  --grey-gradient: linear-gradient(105deg, #F1F1F1 45.85%, #DBDBDB 98.6%);
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
}
// $text-color: rgb(51 26 47 / 80%);
// $title-color: #331a2f;
// $pink: #cf51ce;
// $white: #fff;

// @mixin font($font_name, $weight) {
//   font-family: $font_name, sans-serif;
//   font-weight: #{$weight};
// }

// Медиазапросы
@mixin _1280 {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin _1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin _880 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin _640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin _550 {
  @media (max-width: 550px) {
    @content;
  }
}

// @mixin _767 {
//   @media (max-width: 767px) {
//     @content;
//   }
// }

// @mixin _350 {
//   @media (max-width: 350px) {
//     @content;
//   }
// }

// @mixin _470 {
//   @media (max-width: 470px) {
//     @content;
//   }
// }

@mixin _no-hover {
 @media screen and (any-hover: none) {
   @content;
  
 }
}

@mixin _only-hover {
  @media screen and (any-hover: hover) {
    @content;
   
  }
 }
